* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 3rem
}
body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: #333;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    margin: auto;
    display: block;
    width: 20%;
}

nav, footer {
    background-color: #242424;
}

ul {
    padding: 1.5rem;
    list-style: none;
    display: flex;
    place-content: space-evenly;
}

li {
    font-size: 2rem;    
}

li:hover, a:hover {
    color: rgb(255, 206, 146);
    cursor: pointer;
}

main {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section {
    display: flex;
    gap: 3rem;
}

article {
    flex: 1;
    padding: 3.5rem;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px #3a3a3a;
    transition: 0.2s;
    font-size: 1.3rem
}

article:hover {
    cursor: pointer;
    transform: scale(105%);
}

.discount-banner {
    background-image: url(../img/bracelets-390090_1920.jpg);
}

.watches-banner {
    background-image: url(../img/watch-390091_1280.jpg);

}
.rings-banner {
    background-image: url(../img/ring-1168336_1280.jpg);
}
.other-banner {
    background-image: url(../img/pexels-efeutbeza-herve-1970783.jpg);
}

.discount-span {
    font: bolder;
    color: rgb(254, 237, 0);
}

footer { 
    padding: 2rem;
    display: flex;
}

footer div {
    display: flex;
    flex: 1;
    place-content: center;
}

footer div img {
    width: 50%;
    display: block;
}

@media (max-width: 1200px)
{
    ul {
        flex-direction: column;
        place-items: center;
        text-align: start;
    }
    section {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        gap: 2rem;
    }
}
    